<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <style type="text/css">
    body{
    	background-color: #bbb;
    }
    .{
    	margin: 0;
    	padding:0;
    }
	#container{
		margin:0 auto;
		width:800px;
		height:1500px;
		background-color: #555;
	}
	#header{
		width: 800px;
		height: 30px;
		border-bottom-width: 2px;
		border-color:#aaa;
	}
	#header h1 {
		margin-left:50px;
	}
	#post {
		margin-top: 10px;
		
	}
    </style>
</head>
<body>
<div id="container">
	<div id="header"><img src="{{ site.baseurl }}/logo.png"/><a href="{{ site.baseurl }}/index.html" style=""><h1>Code Life</h1></a></div>
	<div id="post">
    {{ content }}
    </div>
</div>
</body>
</html>
